{% extends '../layouts/base.html' %}
{% load static %}
{% load equipos_tags %}


{% block css %}
    <link href="{% static 'css/dt_scroll.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    {% load eq_cm %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="icon-user"></i><span class="break">Consulta de Equipos Por Comunidades</span></h2>
                     <a href='/consultas/equipos_comunidades/PDF' class="btn btn-danger pull-right btn-lg">PDF</a>
                </div>
                <div class="box-content">
                {% if comunidades|length > 0 %}
                    <table class="table table-striped table-bordered bootstrap-datatable datatable2">
                        <thead role="row" class="tab-header">
                        <tr>
                            <th>Nombre Comunidad</th>
                            <th># Equipos</th>
                            <th>$ Equipos</th>
                            {% for e in equipos %}
                            <th>{{ e.EQ_NOMBRE }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for u in comunidades %}
                            <tr>
                                <td>{{ u.CM_NOMBRE }}</td>
                                <td>{{ u.numero_equipos }}</td>
                                <td>{% format u.valor_equipos %} </td>
                                  {% for eq2 in equipos %}
                                   <td>{% id_in_cm_equipos eq2.EQ_ID u.equipos as res %} {{ res|safe }}</td>

                                  {% endfor %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br><br>
                    <form class="form-horizontal">


                                <div class="form-group">
                                    <div class="col-md-5 pull-right">
											<label class="col-lg-4 col-sm-4 col-md-5 green"><span>Total de Equipos</span></label>
											<input style="width: 250px" type="text" value="{% num_equipos_pais comunidades %}" class="form-control col-lg-8 col-sm-8 col-md-7" readonly/>
										</div>
                                    </div>

                                <div class="form-group">
                                    <div class="col-md-5 pull-right">
											<label class="col-lg-4 col-sm-4 col-md-5 green"><span>Valor de Equipos</span></label>
											<input style="width: 250px" type="text" value="{% valor_equipos_pais comunidades %}" class="form-control col-lg-8 col-sm-8 col-md-7" readonly/>
										</div>
                                    </div>


                    </form>
                    {% else %}
                    <label class="label label-danger">No Existen Equipos Asignados a este pais</label>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}